.react-calendar__tile--heatmap {
    background-color: #ebedf0;
  }
  
  .react-calendar__tile--heatmap-1 {
    background-color: #c6e48b;
  }
  
  .react-calendar__tile--heatmap-2 {
    background-color: #7bc96f;
  }
  
  .react-calendar__tile--heatmap-3 {
    background-color: #239a3b;
  }
  
  .react-calendar__tile--heatmap-4 {
    background-color: #196127;
  }